@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h5{
    font-weight: 600;
    font-size: 23px;
}

.navbar {
    font-size: 16px;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(10px);
}

.container {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar-light .navbar-nav .nav-link{
    background-color: transparent;
    color: black;
    padding: 6px 15px;
}

.navbar i{
    font-size: 1.1rem;
    cursor: pointer;
    padding: 7px 20px;
}




.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i:hover,
.navbar i.active{
    color:blueviolet;
    transition: 0.4s ease-in-out;
}

button{
    outline: none;
    border: none;
    background-color: black;
    color: white;
    padding: 15px 50px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

button.sepet {
    outline: none;
    border: none;
    background-color: black;
    color: white;
    font-weight: 600;
    transition: 0.4s ease-in-out;
    border-radius: 0;
    width: 200px;
    height: 50px;
}

button.sepet:hover{
    outline: none;
    border: none;
    background-color: black;
    color: white;
    font-weight: 600;
    transition: 0.4s ease-in-out;
    border-radius: 0;
    background-color: blueviolet;
}


button.sepet.active{
    background-color: black;
}



.giris{
    font-weight: 400;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    transition: 0.4s ease-in-out;
}

.btn-dark:hover{
    background-color: blueviolet;
}

button:hover {
    background-color: blueviolet;
}


.navbar-toggler:focus,
.navbar-toggler.active,
.navbar-toggler:hover {
    background-color: transparent;
    outline: none;
    box-shadow: none;
}


@media only screen and (max-width: 600px){

    .res{
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 20px;


    }

    .op{

        width: 100%;
        margin-bottom: 200px;
        opacity: 0;
    }

    
    .login{
        background-color: rgba(0, 0, 0, 1);
    }


    #navbarSupportedContent{
        text-align: end;
    }

    #navbarSupportedContent > ul > li:nth-child(n) > a {
        margin: 4px 25px;
    }

    #navbarSupportedContent > ul > li:nth-child(n) > .giris {
        margin: 10px 30px;
    }

    #navbarSupportedContent > ul > li:nth-child(n) > a > i {
        margin: 10px 15px 10px 0px;
    }
}

.carousel-inner .carousel-item {
    transition: transform 0.8s ease, -webkit-transform 0.6s ease;
    
  }

.carousel-item img{
        height: 100vh;
        width: 100%;
        object-fit: cover;
}
    
.carousel-item .carousel-caption{
    width:100%;
    top: 35%;
    padding-right: 350px;
    text-align: left;
    color: black;
    }
    
    
.carousel-control-next:hover, 
.carousel-control-prev:hover {
    background-color: transparent;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    filter: invert(100%);
    
}

#gecis {
    padding:25px 0px;
    background-color: black;
    color: white;
}

h3{
    margin: 0;
}


footer{
    background-color: black;
}

footer h6{
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding-top: 40px;
}

footer p{
    color: #a8a8a8;
    font-weight: 300;
}

footer a{
    color: #a8a8a8;
}

.fthr{
    color: white;
    width: 70%;
}

#category .one .img{
    background-position: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
}

#category .one .detay{
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 150px;
    padding-right: 150px;
    color: black;
}

#category .one:hover .detay{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    backdrop-filter: blur(1px);
    border-radius: 20px;
    opacity: 0.35;
}


.urunlst img:hover{
    cursor: pointer;
    opacity: 0.8;
}

#copyright{
        padding:15px 0px;
        background-color: black;
        color: #a8a8a8;    
}

#copyright h6{
    font-weight: 290;
}

#teslimat p{
    font-weight: 400;
    font-size: 13px;
}

.urun-fiyat{
    font-size: 64px;
}

.yildiz {
    color:blueviolet;
}

.yildiz .far{
    color: black;
}

.miktar .azalt {
    background-color: black;
    padding: 10px 10px;
}

.miktar .azalt:hover {
    background-color: blueviolet;
}

.miktar .arttir {
    background-color: black;
    padding: 10px 10px;
}

.miktar .arttir:hover {
    background-color: blueviolet;
}

.miktar input {
    text-align: center;
    color: black;
    width: 50px;
}

.fiyat{
    color: blueviolet;
    font-size: 30px;
    padding-left: 8px;
}

.arkaplan {
    background-color: rgba(0, 0, 0, 0.1);
}

video{
    width: 1903px;
    margin-bottom: -54px;
    background-size: cover;
}
  
.login{
    backdrop-filter: blur(15px);
    background-color: rgba(78, 78, 78, 0.35);
    border: none;
    border-radius: 20px; 
    color:white;
}

.card-body button{
    border-radius: 20px;
}

#sayac{
    font-weight: 400;
    font-size: 15px;
    padding-left: 5px;
}

.siyah {
    color: black;
}